<footer class="footer m-2 p-2">
    <div class="container text-center p-2">
        <div>
            SDA JavaRemoteEE26 final project made by
            <a class="nav-link" style="color: rgb(93, 82, 215); display: inline;" title="Swen Tuvi" href="https://github.com/doveish" target="_blank">@Swen Tuvi, </a>
            <a class="nav-link" style="color: rgb(93, 82, 215); display: inline;" title="Timo Merisalu" href="https://github.com/timomer83" target="_blank">@Timo Merisalu,</a>
            <a class="nav-link" style="color: rgb(93, 82, 215); display: inline;" title="Orvet Priimägi" href="https://github.com/corvert" target="_blank"> @Orvet Priimägi </a>
        </div>
    </div>
</footer>


