<div class="card mb-2">
  <div class="card-body">
    <div class="row clearfix">
      <div class="col-8">
        <h5 class="card-title">Trade list <span *ngIf="showStockName()"> {{ selectedStock.stockName }}</span></h5>
      </div>
      <div class="col-2">
        <a *ngIf="showAddTradeButton()"><img (click)="goToAddTrade(selectedStock.id)" src="https://img.icons8.com/?size=32&id=102544&format=png"
            title="Add new trade to stock"></a>
      </div>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert"  *ngIf="noTradeAlert">
     No trade for this stock!
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="text-align: left">Stock symbol</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Currency</th>
          <th scope="col">Fee</th>
          <th scope="col">Summary</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trade of trades">
          <td scope="row" style="text-align: left">{{trade.stock.symbol}}</td>
          <td scope="row">{{trade.date | date:'mediumDate' }}</td>
          <td scope="row">{{trade.tradeType }}</td>
          <td scope="row">{{trade.amount | number: '1.2-2' }}</td>
          <td scope="row">{{trade.unitPrice | number: '1.2-2' }}</td>
          <td scope="row">{{(trade.stock.account.currency) }}</td>
          <td scope="row">{{trade.commission | number: '1.2-2' }}</td>
          <td scope="row">{{ trade.tradeSum | number: '1.2-2' }}</td>
          <td scope="row">{{trade.comment }}</td>
        </tr>
     
      </tbody>
    </table>
  </div>
</div>