<div class="card mb-2">
  <div class="card-body">
    <div class="row clearfix">
      <div class="col-8">
        <h5 class="card-title">Add new account</h5>
      </div>

    </div>

    <form class="row g-3" (ngSubmit)="onSubmit(addAccountForm)" #addAccountForm="ngForm">
      <div>
        <label>Account name</label>
        <input type="text" class="form-control" style="width: 200px" [(ngModel)]="account.accountName"
          name="accountName" id="accountName" required placeholder="Enter account fullname...">
      </div>
      <div>
        <label>Account balance</label> <br>
        <input type="number" class="form-control" style="width: 200px" [(ngModel)]="account.balance" name="balance"
          id="balance" required placeholder="Enter account balance">
      </div>
      <div>
        <label>Account currency</label> <br>
        <input type="text" class="form-control" style="width: 200px" [(ngModel)]="account.currency" name="currency"
          id="currency" required placeholder="Enter account currency">
      </div>
      <div>
        <button [disabled]="addAccountForm.invalid" class="btn btn-success" style="width: 200px" type="submit">Add
          account</button>
      </div>
    </form>

  </div>
</div>