<div class="card mb-2">
    <div class="card-body">
      <div class="row clearfix">
  
      </div>
      <div>
        <h5>Add dividend for stock {{ selectedStock.stockName }}</h5>
        <form (submit)="onSubmit(addDividendForm)" #addDividendForm="ngForm">
          <div class="form-group">
            <div>
              <label for="date">Date:</label><br>
              <input  class="form-control" style="width: 200px" type="date" id="date" name="date" [(ngModel)]="newDividend.date" required max="{{ getCurrentDate() }}"> <br>
            </div>
            <div>
              <label for="grossAmount">Gross Amount</label> <br>
              <input  class="form-control" style="width: 200px" type="number" id="grossAmount" name="grossAmount" [(ngModel)]="newDividend.grossAmount" required>
              <br>
            </div>
            <div>
              <label for="withholdingTax">Withholding Tax</label>
              <br>
              <input  class="form-control" style="width: 200px" type="number" id="withholdingTax" name="withholdingTax" [(ngModel)]="newDividend.withholdingTax" required>
              <br>
            </div>
            
            <button [disabled]="addDividendForm.invalid" class="btn btn-success" style="width: 200px" type="submit">Add new dividend</button>
          </div>
        </form>
      </div>
    </div>
  </div>