<div class="card mb-2">
  <div class=" col-12 card-body" >
    <div class="row clearfix">
      <div class="col-10">
        <!-- <h5 class="card-title">Account list</h5> -->
      </div>
      <div class="col-2">
        <!-- <button class="btn btn-primary btn-sm float-right " routerLink="/add-account">Add new account</button> -->
        <button type="submit" class="btn btn-success" routerLink="/add-account" style="text-align: right" title="Add new account">
          <i class="bi bi-person-add"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
            fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
          </svg></i> Add account
        </button>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="text-align: left">Account</th>
          <th scope="col" style="text-align: right">Account balance</th>
          <th scope="col">Account currency</th>
          <th scope="col" style="text-align: right">Account balance in EUR</th>
          <!-- <th scope="col">View stocks</th> -->
          <th scope="col">Add stock</th>
          <th scope="col">Add/withdraw funds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts" >  
          <td scope="row" style="text-align: left"><a class="nav-link" style="color: rgb(93, 82, 215);" 
            (click)="goToAccountStockList(account.id)" title="View account stock list">{{account.accountName}} </a></td>
          <td scope="row" style="text-align: right"> <a class="nav-link" style="color: rgb(93, 82, 215);" 
            (click)="goToAccountTransactionList(account.id)" title="View account transaction list">{{account.balance | number: '1.2-2'}}</a></td>
          <td scope="row" style="text-align: center">{{account.currency    }}</td>
          
          <td scope="row" style="text-align: right">{{ calculatedBalances[account.id] | number: '1.2-2' }}</td>

          <!-- <td scope="row" style="text-align: center"><img (click)="goToAccountStockList(account.id)" 
            src="https://img.icons8.com/?size=28&id=4B2A3cBv2Z0r&format=png"></td> -->
          <td scope="row" style="text-align: center" ><img (click)="goToAddStock(account.id)" 
            src="https://img.icons8.com/?size=32&id=102544&format=png"  title="Add new stock to account"></td>
            <td scope="row" style="text-align: center" ><img (click)="goAddWithdraw(account.id)"
            src= "https://img.icons8.com/?size=32&id=uxUDBmAlF8hP&format=png" title="Add/withdraw funds"></td>
        </tr>
        <tr > 
          <td>Total sum</td>
          <td scpoe="row" style="text-align: right; font-weight: bold; color: black">{{ getAccountSum(0) | number: '1.2-2' }} </td>
          <td></td>
          <td scpoe="row" style="text-align: right; font-weight: bold; color: black;">{{ getAccountSum(0)*1.1 | number: '1.2-2'}} </td>
          <td></td>
          <td></td>
          <td></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>