<div class="card mb-2">
  <div class="card-body">
    <div class="row clearfix">
      <div class="col-8">
        <h5 class="card-title">Dividend list <span *ngIf="showStockName()"> {{ selectedStock.stockName }}</span></h5>
      </div>
      <div class="col-4">

      </div>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="noDividendAlert">
      No dividends on this stock!
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Stock </th>
          <th scope="col">Date</th>
          <th scope="col">Gross sum</th>
          <th scope="col">Withholding Tax</th>
          <th scope="col">Net sum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dividend of dividends">
          <td scope="row" style="text-align: left">{{dividend.stock.stockName}}</td>
          <td scope="row">{{dividend.date | date:'mediumDate' }}</td>
          <td scope="row">{{dividend.grossAmount | number: '1.2-2' }}</td>
          <td scope="row">{{dividend.withholdingTax | number: '1.2-2' }}</td>
          <td scope="row">{{dividend.netAmount| number: '1.2-2' }}</td>
      </tbody>
    </table>
  </div>
</div>