<div class="card mb-2 col-5">
    <div class="card-body">
        <div class="row clearfix">
            <div class="col-4">
                <h5 class="card-title">Currency list </h5>
            </div>

            <div class="col-4">
                <!-- <button class="btn btn-primary btn-sm float-right " routerLink="/add-currency">Add new account</button> -->
                <button type="submit" class="btn btn-success" routerLink="add-currency" style="text-align: right"
                    title="Add new currency">
                    <i class="bi bi-person-add"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                            <path
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                            <path
                                d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                        </svg></i> Add currency
                </button>
            </div>


        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Rate</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currency of currencyRates">
                    <td scope="row" style="text-align: left">{{currency.currency}}</td>
                    <td scope="row">{{currency.rate | number: '1.4-4' }}</td>
                    <td style="text-align: center" scope="row">
                        <img (click)="goUpdateCurrencyRate(currency.id)" src="https://img.icons8.com/?size=25&id=wfRRHNCEI2DN&format=png" title="Update currency rate">
                      </td>
            </tbody>
        </table>
    </div>
</div>